<mat-toolbar>

  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <span class="spacer"></span>

  <button
    mat-icon-button
    [matBadge]="3">

    <mat-icon>
      notifications
    </mat-icon>

  </button>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu">

    <mat-icon>
      account_circle
    </mat-icon>

  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      Profile
    </button>

    <button mat-menu-item>
      Logout
    </button>
  </mat-menu>

</mat-toolbar>