.stats-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

  gap: 20px;
}

.stat-card {
  padding: 24px;
}

mat-icon {
  font-size: 36px;
  width: 36px;
  height: 36px;
}